<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325023714665-sht6tmab853p943a5fq3ec19ajv5abj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325023714665-sht6tmab853p943a5fq3ec19ajv5abj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>325023714665-ildt48t9o7va5npj58i9rnhlhskh5b7g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa6dFKGsRGMKFZCjz9MT-aXUSPeprAanI</string>
	<key>GCM_SENDER_ID</key>
	<string>325023714665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuananh.flutterLearningFirebase</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-8a078</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-8a078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325023714665:ios:596e570e5917a4874b01f8</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-8a078.firebaseio.com</string>
</dict>
</plist>